<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body style="background-color: white;">

<nav th:replace="snippets.html :: site_nav_bar_imp"></nav>

<div class="container">

<h3 class="brand-header mt-2">
	Brands Details
	    <button th:if="${info.getRole() == 'admin'}" type="button" class="btn btn-primary brand-header-child" data-toggle="modal" data-target="#addBrand" >	Add	<span class="material-symbols-outlined">
add
</span></i></button>
        <button th:if="${info.getRole() == 'admin'}" type="button" class="btn btn-info brand-header-child" id="upload-data">	Upload    <span class="material-symbols-outlined">
upload_file
</span>
		</button>

</h3>


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>

	<div class="row mb-4">
		<div class="col-12">
			<form class="form-inline" id="brand-search-form">
				<div class="form-group">
					<label for="inputBrandSearch" class="col-sm-2 col-form-label">Brand</label>
					<div class="col-sm-10">

						<select id="inputBrandSearch" class="form-control" name="brand">
							<option value="">Select an option</option>
						</select>
<!--						<input type="text" class="form-control" name="brand" id="inputBrandSearch" placeholder="enter brand">-->
					</div>
				</div>
				<div class="form-group">
					<label for="inputCategorySearch" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
					<select id="inputCategorySearch" class="form-control"  name="category">
						<option value="">Select an option</option>
					</select>
<!--						<input type="text" class="form-control" name="category" id="inputCategorySearch" placeholder="enter category">-->
					</div>

				</div>
				&nbsp;
				<button type="button" class="btn btn-primary" id="search-brand-category"><span class="material-symbols-outlined">
tune
</span> Filter </button>
			</form>
		</div>
	</div>

	<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="brand-table">
	  <thead>
	    <tr>
		  <th scope="col">Sl No.</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Category</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

</div>
</div>

<!-- Brand Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Brand Category </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form" id="brand-edit-form">
			  <div class="form-group row">
			    <label for="inputBrandName" class="col-sm-2 col-form-label">Brand</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="brand" placeholder="enter brand" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputCategoryName" class="col-sm-2 col-form-label">Category</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="category" placeholder="enter category" required>
			    </div>
			  </div>
 	        <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update-brand">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- Brand Upload Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload Brand Category in TSV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="employee-file">
			<form id="import-form" action="" method="post" enctpye="multipart/form-data">
		  <input type="file" name="file_name" class="custom-file-input" id="brandFile">
			</form>
		  <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/brandSample.tsv}" target="_blank">Download Sample</a>
		<br>
<!--		Rows: <span id="rowCount">0</span>, -->
<!--		Processed: <span id="processCount">0</span>, -->
<!--		Errors: <span id="errorCount">0</span>-->
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="process-data">Upload</button>
		  <a th:href="@{/error/errorFile.tsv}" target="_blank">
			  <button type="button" class="btn btn-warning" id="download-errors" disabled>Download Errors</button>
		  </a>

      </div>
    </div>
  </div>
</div>

<!--	Add Brand Category Modal -->
	<!-- Modal -->
	<div class="modal fade" id="addBrand" tabindex="-1"  aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="addBrandLabel">Add Brand Category Combination</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form" id="brand-form">
						<div class="form-group row">
							<label for="inputBrandName" class="col-sm-2 col-form-label">Brand</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="brand" id="inputBrandName" placeholder="enter brand" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputCategoryName" class="col-sm-2 col-form-label">Category</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="category" id="inputCategoryName" placeholder="enter category" required>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="add-brand">Add</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

</div>



<!--	Brand Search Modal -->
<!-- Modal -->
<!--<div class="modal fade" id="searchBrand" tabindex="-1" aria-labelledby="searchBrandLabel" aria-hidden="true">-->
<!--	<div class="modal-dialog">-->
<!--		<div class="modal-content">-->
<!--			<div class="modal-header">-->
<!--				<h4 class="modal-title" id="searchBrandLabel">Search</h4>-->
<!--				<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--					<span aria-hidden="true">&times;</span>-->
<!--				</button>-->
<!--			</div>-->
<!--			<div class="modal-body">-->
<!--				<form class="form-inline" id="brand-search-form">-->
<!--					<div class="form-group">-->
<!--						<label for="inputBrandName" class="col-sm-2 col-form-label">Brand Name</label>-->
<!--						<div class="col-sm-10">-->
<!--							<input type="text" class="form-control" name="brand" id="inputBrandSearch" placeholder="enter name">-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<label for="inputCategoryName" class="col-sm-2 col-form-label">Category Name</label>-->
<!--						<div class="col-sm-10">-->
<!--							<input type="text" class="form-control" name="category" id="inputCategorySearch" placeholder="enter category name">-->
<!--						</div>-->
<!--					</div>-->
<!--&lt;!&ndash;					<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;						<label for="inputBrandName" class="col-sm-2 col-form-label">Brand Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;							<select class="brand-select" multiple="multiple" style="width:50%;"></select>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--&lt;!&ndash;					<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;						<label for="inputCategoryName" class="col-sm-2 col-form-label">Category Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;							<select class="brand-select" multiple="multiple" style="width:50%;"></select>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->

<!--				</form>-->
<!--			</div>-->
<!--			<div class="modal-footer">-->
<!--				<button type="button" class="btn btn-primary" id="search-brand-category">Filter</button>-->
<!--				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->

</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/brand.js}"/></script>


</body>	

</html>