<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: site_nav_bar_imp"></nav>

<div class="container">

    <h3 class="daily-sales-report-header mt-2">Daily Sales Report
    </h3>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <form class="form-inline" id="day-sales-filter-form">
                <div class="form-group ">
                    <label for="inputStartDate" class="col-sm-6">Start Date</label>
                    <div >
                        <input type="date" class="form-control" name="startDate" id="inputStartDate" placeholder="enter start date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEndDate" class="col-sm-6">End Date</label>
                    <div >
                        <input type="date" class="form-control" name="endDate" id="inputEndDate" placeholder="enter end date" disabled>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="filter-day-sales"><span class="material-symbols-outlined">
tune
</span> Filter </button>
                &nbsp;
            </form>
        </div>
    </div>

    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="daily-sales-report-table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Orders</th>
                    <th scope="col">Total Items</th>
                    <th scope="col">Revenue Generated</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/daily-sales-report.js}"/></script>
<script src="bootstrap-notify.js"></script>


</body>

</html>