<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: site_nav_bar_imp"></nav>

<div class="container">

    <h3 class="daily-sales-report-header mt-2">Daily Sales Report
    </h3>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="daily-sales-report-table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total Orders</th>
                    <th scope="col">Total Items</th>
                    <th scope="col">Revenue Generated</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/daily-sales-report.js}"/></script>
<script src="bootstrap-notify.js"></script>


</body>

</html>