<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: site_nav_bar_imp"></nav>

<div class="container">

    <h3 class="mt-2">Order View
        <a th:href="@{/ui/order/new}" class="text-white"><button type="button" class="btn btn-success " id="create-new-order"  >Create New Order</button></a>
    </h3>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="item-form">
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-view-table">
                <thead>
                <tr>
                    <th scope="col" name="id">Order Id</th>
                    <th scope="col" name="date-time">Last-Saved/Invoiced</th>

                    <th scope="col" name="quantity">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>


    <!-- Order Item View Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="order-item-view-modal" aria-labelledby="addBrandLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Order Items</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <form class="form-inline fw-bold row justify-content-between ml-4 mr-4 mb-2" id="order-tem-header" style="font-size: 140%;">
                            <div class="form-group ">
                                <label class=" col-form-label fw-bold">Order Id: </label>
                                <div  id="orderId">
                                    200
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-form-label">Total Amount:</label>
                                <div id="totalAmount">
                                    2000.00
                                </div>

                            </div>
                        </form>
                    </div>
                    <table class="table table-striped" id="order-item-view-table">
                        <thead>
                        <tr>
                            <th scope="col" name="barcode">Barcode</th>
                            <th scope="col" name="name">Name</th>
                            <th scope="col" name="quantity">Quantity</th>
                            <th scope="col" name="sellingPrice">Selling Price</th>
                            <th scope="col" name="Total">Sub Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order-view.js}"/></script>
<script src="bootstrap-notify.js"></script>

</body>

</html>