<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: site_nav_bar_imp"></nav>

<div class="container">

<h3 class="product-header mt-2">Product Details
	<button type="button" id = "add-product-header" class="btn btn-primary product-header-child access-supervisor" data-toggle="modal" data-target="#addProduct">	Add	<i class="fa fa-plus " ></i></button>
	<button type="button" class="btn btn-primary product-header-child access-supervisor" id="upload-data">	Upload    <i class="fa fa-upload" ></i>
	</button>
	<button type="button" class="btn btn-primary product-header-child access-supervisor" id="refresh-data">Refresh <i class="fa fa-refresh"></i></button>
</h3>

 <!-- Top row with form-->
<!-- <div class="row">-->
<!--	 <div class="col-12">-->
<!--			<form class="form-inline" id="product-form">-->
<!--			  <div class="form-group">-->
<!--			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>-->
<!--			    <div class="col-sm-10">-->
<!--			      <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode">-->
<!--			    </div>-->
<!--			  </div>-->
<!--			  <div class="form-group">-->
<!--			    <label for="inputBrand" class="col-sm-2 col-form-label">Brand Name</label>-->
<!--			    <div class="col-sm-10">-->
<!--			      <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="enter brand Name">-->
<!--			    </div>-->
<!--			  </div>-->
<!--				<div class="form-group">-->
<!--					<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>-->
<!--					<div class="col-sm-10">-->
<!--						<input type="text" class="form-control" name="category" id="inputCategory" placeholder="enter category">-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label for="inputName" class="col-sm-2 col-form-label"> Product Name</label>-->
<!--					<div class="col-sm-10">-->
<!--						<input type="text" class="form-control" name="name" id="inputName" placeholder="enter product name">-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label for="inputMrp" class="col-sm-2 col-form-label">Price (INR) </label>-->
<!--					<div class="col-sm-10">-->
<!--						<input type="number" class="form-control" name="mrp" id="inputMrp" placeholder="0.0">-->
<!--					</div>-->
<!--				</div>-->


<!--			</form>-->
<!--		 <button type="button" class="btn btn-primary" id="add-product">Add</button>-->
<!--		 &nbsp;-->
<!--		 <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>-->
<!--		 &nbsp;-->
<!--		 <button type="button" class="btn btn-primary" id="upload-data">Upload</button>-->


<!--	 </div>	-->
<!--</div> -->


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>

	<div class="row mb-4">
		<div class="col-12">
			<form class="form-inline" id="product-search-form">
				<div class="form-group">
					<label for="inputBrandSearch" class="col-sm-2 col-form-label">Brand</label>
					<div class="col-sm-10">

						<select id="inputBrandSearch" class="form-control" name="brand">
							<option value="">Select an option</option>
						</select>
						<!--						<input type="text" class="form-control" name="brand" id="inputBrandSearch" placeholder="enter brand">-->
					</div>
				</div>
				<div class="form-group">
					<label for="inputCategorySearch" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
						<select id="inputCategorySearch" class="form-control"  name="category">
							<option value="">Select an option</option>
						</select>
						<!--						<input type="text" class="form-control" name="category" id="inputCategorySearch" placeholder="enter category">-->
					</div>

				</div>
				<div class="form-group">
					<label for="inputProductNameSearch" class="col-sm-2 col-form-label">Product Name</label>
					<div class="col-sm-10">
						<select id="inputProductNameSearch" class="form-control"  name="productName">
							<option value="">Select an option</option>
						</select>
						<!--						<input type="text" class="form-control" name="category" id="inputCategorySearch" placeholder="enter category">-->
					</div>

				</div>
				<div class="form-group">
					<label for="inputBarcodeSearch" class="col-sm-2 col-form-label">Barcode</label>
					<div class="col-sm-10">
						<select id="inputBarcodeSearch" class="form-control"  name="barcode">
							<option value="">Select an option</option>
						</select>
						<!--						<input type="text" class="form-control" name="category" id="inputCategorySearch" placeholder="enter category">-->
					</div>

				</div>
				&nbsp;
				<button type="button" class="btn btn-primary" id="search-product">Search</button>
			</form>
		</div>
	</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="table table-striped" id="product-table">
	  <thead>
	    <tr>
	      <th scope="col">Sl No.</th>
	      <th scope="col">Barcode</th>
			<th scope="col">Brand</th>
	      <th scope="col">Category</th>
		  <th scope="col">Name</th>
		  <th scope="col">Price (INR) </th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

</div>
</div>


<!-- product Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<form class="form-inline" id="product-edit-form">
			  <div class="form-group">
			    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="barcode" placeholder="enter barcode" readonly>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputBrand" class="col-sm-2 col-form-label">brand</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="brand" placeholder="enter brand name">
			    </div>
			  </div>
				<div class="form-group">
					<label for="inputCategory" class="col-sm-2 col-form-label">category</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="category" placeholder="enter category">
					</div>
				</div>
				<div class="form-group">
					<label for="inputName" class="col-sm-2 col-form-label">Product Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Product name">
					</div>
				</div>
				<div class="form-group">
					<label for="inputMrp" class="col-sm-2 col-form-label">Price (INR)</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="mrp" placeholder="0.0">
					</div>
				</div>
 	        <input type="hidden" name="id" >
			</form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update-product">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- product Upload Modal -->
<div class="modal" tabindex="-1" role="dialog" id="upload-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Upload product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	<div class="product-file">
			<form id="import-product-form" action="" method="post" enctpye="multipart/form-data">
				<input type="file" name="file_name" class="custom-file-input" id="productFile">
			</form>
		  <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
		</div>
		<a th:href="@{/sample/productSample.tsv}" target="_blank">Download Sample</a>
		<br>
<!--		Rows: <span id="rowCount">0</span>, -->
<!--		Processed: <span id="processCount">0</span>, -->
<!--		Errors: <span id="errorCount">0</span>-->
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="process-data">Upload</button>
		  <a th:href="@{/error/errorFile.tsv}" target="_blank">
			  <button type="button" class="btn btn-warning" id="download-errors" disabled>Download Errors</button>
		  </a>
      </div>
    </div>
  </div>
</div>

	<!--	Add Product Modal -->
	<!-- Modal -->
	<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="addBrandLabel">Add Product</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-inline" id="product-form">
						<div class="form-group">
							<label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="enter barcode">
							</div>
						</div>
						<div class="form-group">
							<label for="inputBrand" class="col-sm-2 col-form-label">Brand Name</label>
							<div class="col-sm-10">
								<select id="inputBrand" class="form-control" name="brand">
									<option value="">Select an option</option>
								</select>
<!--								<input type="text" class="form-control" name="brand" id="inputBrand" placeholder="enter brand Name">-->
							</div>
						</div>
						<div class="form-group">
							<label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
							<div class="col-sm-10">
							<select id="inputCategory" class="form-control"  name="category" disabled>
								<option value="">Select an option</option>
							</select>
<!--								<input type="text" class="form-control" name="category" id="inputCategory" placeholder="enter category">-->
							</div>

						</div>
						<div class="form-group">
							<label for="inputName" class="col-sm-2 col-form-label"> Product Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" id="inputName" placeholder="enter product name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputMrp" class="col-sm-2 col-form-label">Price (INR) </label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="mrp" id="inputMrp" placeholder="0.0">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="add-product">Add</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/product.js}"/></script>
<script src="bootstrap-notify.js"></script>

</body>	

</html>