html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #082067;
}
a:hover {
text-decoration:none!important;
}
a #nav_links {
text-decoration:none;
color: black;
}
button {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.fas{
    font-size: 4rem;
}




/*Try*/
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inconsolata", copperplate;
    /* color: white; */
}
body {
  font-family: "Inconsolata", copperplate;
  color: black;
}
a {
  text-decoration: none;
}

/* Navbar */

header {
    background-color: rgb(255, 255, 255);
 /* background: linear-gradient(to bottom right, #03A9F4, #0a4560); */
    background-color:#082067;
    box-shadow: inset 0px -13px 25px -27px #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #000;

}



.logo strong {
    display: inline-block;
    padding: 10px;
    font-size: 1.7rem;
    color: white;

}

.burger {
    background-color: aliceblue;
    position: absolute;
    transform: translateY(-50%);
    top: 20px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.navbar {
    display: none;

}

.mobile-menu {
    background-color: rgba(255, 255, 255, 0.379);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.icons {
    display: flex;
    padding: 15px;


}

.icons a li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    padding: 20px;
}

.links a li, #dropdownMenuButtonOrder, #dropdownMenuButton {
    font-size: 23px;
    display: inline-block;
    padding: 2px;
    position: relative;
        color: white;
}

.links a li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.links a li:hover::after {
    transform: scaleX(1);
}


.icon {
    font-size: 1.6rem;
}








@media screen and (min-width: 767px) {

    .burger {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .logo {
        padding: 5px 15px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        flex-direction: row;
        margin-right: 5vw;
    }

    .links a {
        padding: 0 20px;
    }

    .icons {
        padding: 0;
        order: 2;
    }
}



/*Type-writer */
#typewriter{
text-decoration: none!important;
    color: #446e73;
    font-size: 40px;
    font-family:  copperplate;

}

.typewriter-div{
position: absolute;
    top: 21em;
    width: 40%;
        }

.wrap{
  width:40%
}

/* Login Modal */
/*Trigger Button*/
.login-trigger {
font-weight: bold;
    color: white;
    background: #082067;
    padding: 15px 30px;
    border-radius: 10px;
    position: absolute;
    top: 76%;
    font-size: 25px;
    text-decoration: none;
}

.login-trigger:hover {
color: #0056b3!important;
}

#landing-image{
width: 40%;
/* margin-right: 0px; */
position: absolute;
right: 4em;
top: 14em;
}


/* font awesome */
.fa {
font-size: 26px;
color: black;
}

/* Modal */
.modal {
color: black;
}

/* Navbar */
.header-navbar {
color: white;
}

.home-image {
width: 50%;
position: absolute;
right: 5rem;
}

.home-description {
position: relative;
    top: 32vh;
    font-size: 35px;
    width: 35vw;}


/* brand */

.brand-header {
margin-top: 1rem
}

.brand-header-child {
margin: 0.6rem;
}

/* Product */

.product-header {
margin-top: 1rem
}

.product-header-child {
margin: 0.6rem;
}

/* Inventory */

.inventory-header {
margin-top: 1rem
}

.inventory-header-child {
margin: 0.6rem;
}

/* logo increff */
.logo-increff-index {
width: 35px;
}

.logo-increff-home {
width: 35px;
}

.navbar-logo-name {
color: white;
}

.navbar-logo-name:hover {
color: white;
}
.material-symbols-outlined {
vertical-align: top;
    font-size: 20px;
}

tr {
white-space: pre;
}
}


/* CONFIRM MODAL CSS */
.modal-confirm {
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}


.select2-container--default .select2-results__option {
  white-space: pre;
}